/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #021526;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  padding: 10px;
  color: #fff;
  font-size: 54px;
  margin-bottom: 24px;
}

.toolbar {
  max-width: 1280px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #536493;
  height: 50px;
  padding: 0px 16px;
}

.toolbar-primary-controllers{
  display: flex;
  gap: 8px;
}
.toolbar-secondary-controllers{
  display: flex;
  gap: 8px;
}

.editor-container {
  max-width: 1280px;
  min-height: 600px;
  width: 100%;
  background-color: white;
}

.editor {
  border: none;
  padding: 16px;
  outline: none;
  font-size: x-large;
}

.icon-button {
  border: none;
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  outline: none;
  border: none;
}

/* Add your additional CSS rules below */
